.grid3heading
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 480px;
    font-size: 40px;

    
}
.grid3para
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 40px;
}
