

.grid4heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 480px;
    font-size: 40px;
    padding-top:20px ;
}
.grid4para{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 49px;
  

}